
@{
    ViewData["Title"] = "Perfilestudiante";
}
@section Styles {
    <link href="~/css/estudiantes.css" rel="stylesheet" />
    <link href="~/css/listas.css" rel="stylesheet" />
}
<h1>Perfil del estudiante cedula</h1>

<table class="col-12">


    <tr class="row lista">
        <td class="col-8">@Model.Nombre @Model.Apellido</td>
       



    </tr>
  
</table>
<P>Cedula:5454654545</P>
<P>fecha de nacimineto:02/02/2002</P>
<P>telefono:4555544</P>
<P>telefono de algun familiar:55555</P>
<P>Direccion al hogar:adchugsfyuyuff</P>



