
@{
    ViewData["Title"] = "Perfilestudiante";
}
@section Styles {
    <link href="~/css/estudiantes.css" rel="stylesheet" />
    <link href="~/css/listas.css" rel="stylesheet" />
}
@model FVSystem.Models.Estudiante

<h1>Perfil del estudiante </h1>

<table class="col-12">


    <tr class="row lista">
        <td class="col-8">@Model.Nombre @Model.Apellido</td>
    </tr>

</table>
<img src="~/img/person.jpg" width="200" height="200" alt="Josep" />

<P>Cédula: @Model.Cedula</P>
<P>Fecha de Nacimiento: @Model.FechaNacimiento</P>
<P>Teléfono: 82134564</P>
<P>Teléfono de Encargado: 84223289</P>
<p>Nombre del Encargado </p>
<P>Dirección del hogar: Del INA de la florida 100 al sur y 200 al este</P>




