<a href="javascript:history.back(-1);" title="Ir la página anterior"><img src="https://echaloasuerte.com/static/media/arrow.867ac2d0.svg" width="100" height="100" /></a>
@{
    ViewData["Title"] = "Asignar";
}


    <h1>@Model.Nombre @Model.Apellido</h1>