
@{
    ViewBag.Title = "Modulo";
}

<div class="formulario">
    <h2>Modulo</h2>

    @section Styles {
        <link href="~/css/formulario.css" rel="stylesheet" />
    }

    @section script {
        <script src="~/js/VerificarSeleccionado.js"></script>
    }

    @using (Html.BeginForm("Guardar", "Modulo", new { curso = Model }, FormMethod.Post))
    {
        <div>Nombre:</div>

        <input type="text" name="Nombre" value="">

        <div>FechaInicio: </div>

        <input type="date" name="FechaInicio" value="">

        <div>FechaFinal: </div>

        <input type="date" name="FechaFinal" value="">

        <input type="submit" value="Agregar">
    }
</div>