
@{
    ViewData["Title"] = "Index";
}

<h2 class="sedes">Sedes</h2>

<table class="mx-auto">
    @foreach (var sede in Model)
    {
        <tr class="row lista">
            <td class="col-6">@sede.Nombre</td>
            <td class="col-6">
                @Html.ActionLink("Ver Cursos", "CursosPorSede", "Curso", new { sede = @sede.Id }, null)
            </td>
        </tr>
    }

</table>


