
@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/css/listas.css" rel="stylesheet" />
    <link href="~/css/sedes.css" rel="stylesheet" />
}

@section script 
{
    <script src="~/js/ConfirmacionBorrarModulo.js"></script>
}



    <h2 >Sedes</h2>

    <table class="col-12">
        @foreach (var sede in Model)
        {
            <tr class="row lista">
                <td class="col-6">@sede.Nombre</td>
                <td class="col-6"> @Html.ActionLink("Ver Programas", "ProgramasPorSede", "Curso", new { sede = @sede.Id }, new { miAtributo = "valor1", @class = "btn btn-danger" }) </td>
        </tr>
        }

    </table>


