
@{
    ViewBag.Title = "AgregarCurso";
}

@section Styles {
    <link href="~/css/formulario.css" rel="stylesheet" />
}

<div class="formulario">
    <h2>Nuevo Curso</h2>

    @using (Html.BeginForm("Guardar", "Curso", new { programa = Model }, FormMethod.Post))
    {
        <div>Nombre</div>
        <input type="text" name="Nombre" placeholder="Nombre del curso">

        <input type="submit" value="Agregar">
    }
</div>