
@{
    ViewData["Title"] = "Editar";
}
@model FVSystem.Models.Programa

@section Styles {
    <link href="~/css/formulario.css" rel="stylesheet" />
}
<div class="formulario">
    <h2>Editar</h2>

    @using (Html.BeginForm("Actualizar", "Programas", FormMethod.Post))
    {

        @Html.HiddenFor(model => model.Id)

        <div>Nombre:</div>


        <input type="text" name="Nombre" value="@Model.Nombre">

        <input type="submit" value="Guardar">

    }

</div>


