
@{
    ViewBag.Title = "Actualizar";
}

@section Styles {
    <link href="~/css/formulario.css" rel="stylesheet" />
}

<h2>Actualizar Curso</h2>

@using (Html.BeginForm("Actualizar", "Curso", FormMethod.Post))
{
    

    <p>Nombre</p>
    <input type="text" name="Nombre" value="@Model.Nombre" placeholder="Nombre del curso">

    <div>
        <input type="submit" value="Actualizar Curso">
    </div>
}

